{%  extends 'layout.html' %}
{% block content %}
<div class="jumbotron">
  <img src="{{url_for('static',filename='gopi1.jpg')}}" class="rounded float-right" alt="...">

  <h1>Welcome To My Resume</h1>
  <p>Check out my profile</p>
  <h4>GopiKrishna Gattupalli</h4>
    <button type="button" class="btn btn-outline-secondary">B.tech Graduate</button>
<hr>
    <h5>Career Objective </h5>
    <p>Obtain a responsible, challenging, and awarding position in a software development organization with an established
      track record where my skills, abilities and technical abilities can be utilized.</p>
  </div>

{% endblock %}
