{%  extends 'layout.html' %}
{% block content %}

<div class='jumbotron'>
<u>
  <button type="button" class="btn btn-light">Personal Details</button>
  </u>
<hr>
<div class="card" style="width: 80rem;">
<ol class="list-group list-group-flush">
  <li class="list-group-item list-group-item-action">Name: GopiKrishna Gattupalli</li>
  <li class="list-group-item list-group-item-action">FatherName: G.Kotaiah</li>
  <li class="list-group-item list-group-item-action">Date Of Birth: 11-09-1999</li>
  <li class="list-group-item list-group-item-action">Adderss: 13-39 Chebrolu,Chebrolu(mdl),Guntur(dst),AndhraPradesh,522212</li>
  <li class="list-group-item list-group-item-action">Completed Graduation: In VignanUniversity 2020</li>
  <li class="list-group-item list-group-item-action">Current Status: Doing Intenship In Innomatics On DataScience</li>
  <li class="list-group-item list-group-item-action">Email: gopikrishnaguttapalli@gmail.com</li>
  <li class="list-group-item list-group-item-action">Contact.No: 9912231966</li>
  <li class="list-group-item list-group-item-action">LanguagesKnown: English,Telugu</li>
</ol>
</div>
</div>
</div>
{% endblock %}
